.container .data-list {
  height: 120px;
  margin-bottom: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .container .data-list p {
    font-size: 15px;
    color: black; }
    .container .data-list p span {
      float: right;
      font-size: 15px;
      font-weight: 400;
      color: #4dc073; }
