<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script src="function.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
        <h1>this is list </h1>
        <ul>
            <li v-for="item,index in list" :class="{'done':item.state}" @click="click($event,index)">
                <label >
                    <input type="checkbox" :checked="item.state">{{item.thing}}       </label>
            </li>
        </ul>

    <p>
        add new todo
        <input type="text" @keyup.enter="addItem" v-model="input">
    </p>

    <div>
        <h2>番茄钟</h2>
        <h3>{{title}}</h3>
        <span>{{computed_min}}</span>:<span>{{computed_sec}}</span>
        <button @click="startClock" :disabled="btn_state==='started'">start</button>
        <button @click="pausedClock" :disabled="btn_state!=='started'">paused</button>
        <button @click="stopClock" :disabled="btn_state!=='started'&&btn_state!== 'paused'">stop</button>
    </div>
</div>


<script>

    const time_state={
        work:'work',
        rest:'rest'
    }
    const btn_state={
        start:'started',
        paused:'paused',
        stop:'stoped',

    }
    const work_time=25
    const rest_time =5

    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            list:[
                {
                  thing:'go to shop',
                  state:true
                },
                {
                   thing:'see movies',
                   state:false
                },
                {
                    thing:'go to kill',
                    state:true
                },
                ],
            input:'',
            min:work_time,
            sec:0,
            clock_state:time_state.work,
            interval:null,
            btn_state:null
        },
        methods:{
            click(event,index){  //调用中传递$event 获取当前事件对象
                // let className=event.currentTarget.getAttribute('class')
                // if(className){
                //     event.currentTarget.removeAttribute('class')
                // }else{
                //     event.currentTarget.className +='done'
                // }
                console.log(index)  //传递index操作原data
                this.list[index].state=!this.list[index].state
                console.log(this.$set)
                // this.$set(this.list,0,{
                //     thing:'111111',
                //     state:true})
                // console.log(this.list)

            },
            addItem(){
                console.log(this.input)
                let user_input=this.input.trim()
                user_input?this.list.push({
                    thing:user_input,
                    state:false
                }):null
                this.input=''
            },
            tic(){
                if(this.sec!==0){
                    this.sec--
                    return
                }
                if(this.min!==0){
                    this.min--;
                    this.sec=59
                    return
                }
                if(this.min===0&&this.sec===0){
                    this.clock_state==='work'?this.clock_state='rest':this.clock_state='work'
                }
                this.clock_state=(this.clock_state==='work'?'work':'rest')
                this.clock_state==='work'? this.min=work_time:this.min=rest_time
            },
            startClock(){
                if(this.btn_state===btn_state.start){
                    return
                }
                this.btn_state=btn_state.start
                this.tic()
                this.interval=setInterval(this.tic,1000)
            },
            stopClock(){
                this.btn_state=btn_state.stop
                clearInterval(this.interval)
                this.min=work_time
                this.sec=0
            },
            pausedClock(){
                this.btn_state=btn_state.paused
                clearInterval(this.interval)
            }
        },
        computed:{
            computed_sec(){ //小于10返回拼接字符串 否则返回原字符串
                if(this.sec<10){
                    return "0"+this.sec
                }
                return this.sec
            },
            computed_min(){
                if(this.min<10){
                    return "0"+this.min
                }
                return this.min
            },
            title(){
                return this.clock_state==='work'?'work':'rest'
            }
        }


    })
</script>
<style>
    .done{
        background-color: gray;
    }
</style>
</body>
</html>