<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <todo-input></todo-input>
            <todo-item></todo-item>
        </div>


        <template id="form">
                <div>
                    <label for="name">what's your name ?</label>
                    <input
                        type="text"
                        id="name"
                        v-model='content'
                    >
                    <button type="submit" @click='handleAdd'>add todo</button>
                </div>
        </template>

        <template id="todoItem">
            <div>
                <div v-for='item in state.todoList'>
                    {{item.name}}
                </div>
            </div>
        </template>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
           let state = {
               todoList:[
                   {
                       name:'1.todo1',
                       isFinsh:false
                   }
               ]
           }

            Vue.component('todo-input', {
                template: '#form',
                data(){
                    return {
                        content:''
                    }
                },
                methods:{
                    handleAdd(){
                        if(this.content){
                            state.todoList.push({name:this.content,isFinsh:false})
                            this.content=''
                        }
                    }
                },
            });

            Vue.component('todo-item', {
                template: '#todoItem',
                data(){
                    return {
                        state
                    }
                },
                methods:{
                   
                },
                mounted(){
                   
                }
            });

            let vm = new Vue({
                el:'#app',
                data:{
                    msg:'11',
                }
            })

           
        </script>
    </body>
</html>