registry=https://registry.npm.taobao.org
sass_binary_site=https://npm.taobao.org/mirrors/node-sass
ELECTRON_MIRROR=https://npm.taobao.org/mirrors/electron/
PUPPETEER_DOWNLOAD_HOST=https://npm.taobao.org/mirrors
scripts-prepend-node-path=false
npm_config_phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
