.selectCity {
  height: 100%;
  padding-top: 35px; }
  .selectCity .data-list {
    margin-bottom: 65px; }
    .selectCity .data-list li {
      display: flex;
      height: 40px;
      align-items: center;
      background: #fff;
      border-bottom: 1px solid #E5E5EA; }
      .selectCity .data-list li radio {
        width: 50px;
        text-align: center; }
      .selectCity .data-list li p {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding-right: 16px;
        height: 100%; }
    .selectCity .data-list li:last-child {
      border: 0; }
  .selectCity .navBar {
    position: fixed;
    width: 100%;
    top: 0;
    background: #F8FBFF;
    z-index: 99;
    height: 35px;
    white-space: nowrap;
    box-sizing: border-box; }
    .selectCity .navBar .li {
      line-height: 35px;
      display: inline-block;
      margin-right: 5px;
      color: #333; }
      .selectCity .navBar .li .more {
        width: 7px;
        height: 12px;
        margin-left: 5px; }
    .selectCity .navBar .ungray {
      color: #8e8e93; }
  .selectCity .operation {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #fff;
    border-top: 1px solid #E5E5EA;
    height: 60px;
    bottom: 0;
    align-items: center; }
    .selectCity .operation button {
      width: 45%; }
    .selectCity .operation .cancel {
      border: 1px solid #E5E5EA; }
