html {
    height: 100%;
}
body{
    font-size: 13px;
}

.nm_login-container{
    background: url('img/nm_login/nm_login_bj.png') center no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    .nm_signin{
        height: 380px;
        margin: auto;
        display: flex;
        .nm_left{
            width: 360px;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            padding: 90px 0 0 47px; 
            h3{
                font-size: 22px;
                color: rgba(255,255, 255, .7);
                margin: 0;
                font-weight: normal;
            }
            .nm_title{
                height: 86px;
                width: 266px;
                margin-top: 50px;
                background: url('img/nm_login/nm_login_title.png') no-repeat;
            }
        }
        .nm_right{
            width: 360px;
            height: 100%;
            background: #fff;
            padding: 0 56px;
            .nm_logo{
                width: 100%;
                height: 40px;
                background: url('img/nm_login/login_logo.png') center no-repeat;
            }
            .nm_frmLogin{
                margin-top: 45px;
                input{
                    height: 45px;
                    width: 100%;
                    border: 0;
                    color: #000;
                    margin-bottom: 22px;
                    padding: 6px 4px;
                    font-size: 16px;
                    outline: none;
                    border-bottom: 1px solid #D1D1D6;
                    padding-left:40px;
                }
                .nm_user{
                    background: url("img/nm_login/user.png") left center no-repeat;
                }
                .nm_pwd{
                    background: url("img/nm_login/pwd.png") left center no-repeat;
                }
                input::-webkit-input-placeholder {
                    color: #C7C7CC;
                }
                input:-moz-placeholder {
                    color: #C7C7CC;
                }
                input::-moz-placeholder {
                    color: #C7C7CC;
                }
                input:-ms-input-placeholder{
                    color: #C7C7CC;
                }
            }
            .nm_error-text{
                position: absolute;
                width: 248px;
                margin: 0;
            }
            .nm_login-info{
                margin-top: 6px;
            }
            button{
                width: 100%;
                margin-top: 39px;
                border-radius: 2px;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .nm_signin {
        transform: scale(0.9);
    }
}
@media screen and (max-width: 1400px) {
    .nm_signin {
        transform: scale(0.8);
    }
}
@media screen and (max-width: 1300px) {
    .nm_signin {
        transform: scale(0.7);
    }
}