.container {
  padding-bottom: 50px;
  box-sizing: border-box; }

h2 {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: black; }

.operation {
  display: flex;
  border-top: 1px solid #E5E5EA;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff; }
  .operation button {
    width: 35%;
    border-radius: 0;
    background: #fff; }
  .operation .send {
    background: #2688F8;
    color: #fff; }
