.container{
    .data-list{
        margin-bottom: 10px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
            font-size:15px;
            color:rgba(0,0,0,1);
            span{
                float: right;
                font-size:15px;
                font-weight:400;
                color:rgba(77,192,115,1);
            }
        }
        .modelName{
            margin-top: 16px;
        }
    }
}