.info{
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .head-portrait{
        width:60px;
        height:60px;
        background:rgba(255,255,255,1);
        border-radius: 50%;
        margin-right: 17px;
    }
    .name{
        color: #000;
        font-size:22px;
        font-weight:500;
        line-height:30px;
        text-shadow:0px 1px 1px rgba(0,0,0,0.29);
        letter-spacing:7px;
    }
    .company{
        color: #000;
        font-size:17px;
        font-weight:400;
        line-height:24px;
        letter-spacing:3px;
    }
}
.otherOpreation{
    margin-top: 16px;
    li{
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.button{
    margin-top: 16px;
    background: #fff;
    color: red;
}