@import '~antd/lib/style/themes/default.less';

.container {
  padding: 10px 15px 0;
  :global {
    .ant-card-head-title {
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 18px;
    }
    .ant-form-item-control-wrapper {
      flex: 1;
      min-width: 120px;
    }
    .ant-form-item-label {
      width: auto;
      padding: 0 5px 0 0;
    }
  }
}

.range {
  display: flex;
  line-height: 40px;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
  .btn {
    color: #1890ff;
  }
  > span {
    width: 290px;
    min-width: 290px;
    margin: 0 5px;
    position: relative;
    z-index: 1;
  }
  button {
    margin: 0 2px;
    padding: 0 3px;
    position: relative;
    top: 1px;
  }
}
.noborder {
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.85);
  box-shadow: none;
}

.formSearch {
  :global(.ant-form-item) {
    display: flex;
    align-items: center;
  }
}

.salesContainer {
  padding: 0 0 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  font-size: @font-size-lg;
  padding: 8px 3px;
  min-width: 170px;
  margin: 0 20px 17px 0;
  flex: 1;
  &:last-of-type {
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .card {
    flex-basis: calc(33.33% - 20px);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
@media (max-width: 576px) {
  .card {
    width: 100%;
    max-width: 100%;
    flex-basis: calc(100%);
    margin-right: 0;
  }
}

.divider {
  margin: 15px 0;
}
.salesColor {
  color: @text-color-secondary;
}
.sales {
  span {
    font-size: 20px;
    position: relative;
    top: -1px;
  }
  padding: 5px 0;
  font-size: 26px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}
.orderCount {
  font-size: @font-size-lg;
  .num {
    color: #1890ff;
    padding: 0 10px;
    cursor: pointer;
  }
}
.iconDown {
  color: #52c41a;
}
.iconUp {
  color: #f5222d;
}
.compare {
  padding: 2px 0;
  font-size: @font-size-base;
  span {
    color: #676666;
  }
  b {
    padding: 0 10px;
  }
}

.question {
  color: #fff;
  background-color: #c7c7c7;
  font-size: 12px;
  padding: 2px;
  border-radius: 50%;
  margin-left: 5px;
  position: relative;
  top: -2px;
  cursor: pointer;
}

.msgContainer {
  margin-bottom: 25px;
  :global(.ant-card-head-wrapper) {
    height: 64px;
  }
}
.cardBox {
  height: 522px;
}

.message {
  :global {
    .ant-list-item-meta-content {
      width: 0;
    }
    .ant-avatar {
      width: 50px;
      height: 50px;
    }
    .ant-list-item {
      padding: 18px 0;
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    a {
      color: @text-color;
      font-size: 16px;
    }
    span {
      font-size: @font-size-base;
      color: @text-color-secondary;
    }
  }
}

.rankingContainer {
  h4 {
    padding-left: 10px;
    margin: 15px 0;
    font-weight: bold;
    font-size: 16px;
  }
}
.chartwarpper {
  overflow-x: auto;
  overflow-y: hidden;
}
.chart {
  min-width: 705px;
}
.payChart {
  min-width: 400px;
}
.rankingList {
  margin-right: 10px;
  .title {
    margin: 15px 0 0;
    color: @text-color-secondary;
    > div {
      text-align: left;
      &:last-child {
        text-align: right;
      }
      &:first-child {
        padding-left: 10px;
      }
    }
  }
}
.list {
  margin: 15px 0 0;
  line-height: 22px;
  > div {
    text-align: left;
    &:first-child {
      padding-left: 10px;
    }
    > span {
      border-radius: 50%;
      width: 22px;
      height: 22px;
      display: inline-block;
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
    &:nth-child(3) {
      color: #5aadfb;
    }
  }
}
.top {
  color: #fff;
  background: #1890ff;
}
.bottom {
  background: @layout-body-background;
}

.pubPadding {
  padding-bottom: 12px;
}

.analysis {
  margin: 25px 0 0;
  position: relative;
}
.vip {
  > div {
    margin: 25px 0 0;
  }
}
.vipSts {
  border-right: 1px solid #e5e5e5;
}
.vipInfo {
  > div {
    text-align: center;
  }
  span {
    color: @text-color-secondary;
  }
  h3 {
    font-size: 28px;
    margin-top: 5px;
  }
}
.stackType {
  position: absolute;
  right: 25px;
  margin-top: 20px;
  z-index: 1;
  > div {
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 2px;
    background: #eee;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &.active {
      color: #fff;
      background: #147ee1;
    }
  }
}
.legendHtml {
  padding: 0 15px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.info {
  border-left: 1px solid #d9d9d9;
  padding: 0 0 0 20px;
}
.totalAmount {
  text-align: center;
  padding: 0 5px 0 0;
  span {
    color: @text-color-secondary;
  }
  p {
    font-size: 28px;
    font-weight: bold;
    padding-top: 5px;
    word-break: break-all;
    line-height: 30px;
  }
}
.legend {
  font-size: @font-size-base;
  margin: 10px 0;
}
.percent {
  color: #8e8e8e;
}
.typeName {
  display: flex;
  align-items: center;
}
.amount {
  text-align: right;
}
.marker {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  display: block;
}

.rankingFull {
  top: 25px;
  right: 50px;
}
.vipFull {
  top: 25px;
  right: 30px;
}
.timeLineFull {
  top: 83px;
  right: 40px;
}
.empty {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.salesNum {
  cursor: pointer;
}
