.login {
  background: #2688f8;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20px; }
  .login h1 {
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 55px; }
  .login .user-box {
    background: #fff;
    height: calc(100% - 79px);
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
    position: relative;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
    .login .user-box img {
      width: 100px;
      height: 100px;
      position: absolute;
      top: -33px;
      left: 50%;
      margin-left: -50px; }
    .login .user-box .user-info div {
      display: flex;
      border-bottom: 1px solid #DCDCDC;
      margin-bottom: 10px;
      align-items: center;
      height: 40px; }
    .login .user-box .user-info label {
      width: 60px;
      text-align: left;
      font-size: 18px;
      font-weight: 400;
      color: black; }
    .login .user-box .user-info input {
      flex: 1;
      text-align: left;
      font-size: 18px;
      font-weight: 400; }
    .login .user-box .user-info .input-placeholder {
      font-size: 18px;
      font-weight: 400;
      color: gainsboro; }
    .login .user-box .user-info button {
      background: #2688f8;
      margin-top: 30px; }
